<div class="container-fluid bg-3 text-left">
  <div class="row">
    <div class="col-md-4">
      <img src="<%= url_for(@employee.picture) if @employee.picture.attached? %>" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-md-4"> 
<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @employee.ssn %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>
    </div>
		<%= render "employees/timer"%>
  </div>
</div><br>






