<!DOCTYPE html>
<html lang="en">
<head>
  <title>Clockin-Clockout</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
		body{
			width:80%;
			margin:auto;
		}
				.jumbotron{
			background:green;
			color:white;
		}
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
<%= render partial: 'layouts/header' %>
	
<div class="jumbotron">
  <div class="container text-center">
    <h1>Ruby on Rails Training School</h1>      
    <p>Clock in and Clock out so you get paid</p>
  </div>
</div>

			<% if notice %>
  		<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
  		<p class="alert alert-danger"><%= alert %></p>
		<% end %>
		
		
    <%= yield %>
	
	
<footer class="container-fluid text-center">
  <p>Clock in and out so you do not miss payment</p>
</footer>

</body>
</html>

